[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cvzone = "*"
mediapipe = "*"
opencv-python = "*"
streamlit = "*"
streamlit-player = "*"

[dev-packages]

[requires]
python_version = "3.8"
